*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
        padding: 2rem;
    border: 2px solid black;
    background-color: black;
    color: white;
    display:flex;
    flex-direction: column;
}
h1, h2{
    font-size: 50px;
    font-size: 30px;
}
h3{
    color: rgb(146, 140, 140);
    border-bottom: lightgray 1px solid;
    margin: 1rem 0 1rem 0;
}
p{
    margin: 3rem 0 3rem 0;    
}

img{
    width: 10rem;
    float: right;
}

form, section{
    margin: 0 10rem 0 10rem;
    padding: 1rem 1rem 0 1rem;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    background-color: lightslategray;
    border: none;
}
#coment{
    height: 5rem;
}
.button{
    margin-top: 1rem;
    background-color: black;
    color: white;
    padding: 4px;
    width: 4rem;
    text-align: center;
}


@media (max-width: 400px)  {
    header{
        text-align: center;
    }
section{
    margin: 0;
    display: flex;
    flex-direction: column;
}

img{
    width: 20rem;
    align-items: center;
    margin-left:0.50rem;
}

p{
    border-top: 1rem;
    border-bottom: 1rem;
    margin: 1rem 0 1rem 0;
}

form {
    width: 20rem;
    text-align:left;
    margin: 1rem 0 1rem 0;
}

}


