.lista li:last-child {
    background-color: rgb(0, 0, 255);
}

.lista li:nth-child(odd) {
    text-decoration: underline green;
}

.lista li {
    display: inline;
    margin: 10px;
    padding: 0;
}
li:lang(en){
    font-size: 200%;
    text-transform: uppercase;
}

.lista li::after {
    content: "😜";
}

#provincias li{
    list-style: lower-roman;
}
#provincias :nth-child(2) {
    list-style: circle;
}