*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 197, 95);
}

h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    animation-name: animar;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
@keyframes animar{
    0%{
        transform: scale(0.2);
    
    }


}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    margin: 1rem;
    width: 9rem;
    border-radius: 50%;

}
h2{
    text-align: center;
    
}

article{
    width: 25rem;
    height: 35rem;
    background-color: white;
    margin: 2rem;
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: transform 0.6s linear 0.2s;
    }
article:hover{
    transform: scale(1.3);
}

p{
    background-color: rgb(149, 0, 149);
    color: white;
    padding: 1rem; 
    text-align: left;
    height: 58%;
}
.fa-facebook,
.fa-instagram-square,
.fa-twitter-square,
.fa-linkedin{
    font-size: 2rem;
    color:#141414 ;
}

#article_1{
    animation-name: article1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}


@keyframes article1{
0%{
transform: scale(0.2);
opacity: 0.4;
}
}

#article_2{
animation-name: article2;
animation-duration: 3s;
animation-timing-function: ease-in-out;
}


@keyframes article2{
0%{
transform: scale(0.2);
opacity: 0.4;
}
}

#article_3{
animation-name: article3;
animation-duration: 4s;
animation-timing-function: ease-in-out;
}
        
        
@keyframes article3{
0%{
transform: scale(0.2);
opacity: 0.4;
}
}

