*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form input:required {
    border: 3px solid red;
}
fieldset{
    padding: 1rem;
    background-color: lightgrey;
}
fieldset:hover{
    background-color: grey;
}

fieldset:nth-child(odd){
    border-bottom: 5px solid black;
}

form {
    margin: 0 auto;
    font-family: sans-serif;
    max-width: 800px;
    min-width: 400px;
}

.button, button{
    border: none;
    background-color: black;
    color:white;
    padding: 3px;
    margin: 5px;
    border-radius: 4px;
}
